@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: lighter;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.dark {
  background-color: #121212;
}

.glfuN {
  background: #826bf5 !important;
}

.navbar-header a.active .MuiListItemIcon-root {
  color: #826bf5;
}

.footer {
  margin-top: 100px;
  height: 350px;
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 5;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.icons a {
  margin-left: 20px;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

.fade:not(.show) {
  opacity: inherit !important;
}
