.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("../../assets/404-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.not-found-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.p-and-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-and-img img:hover {
  animation: hithere 1s ease;
}

.not-found-page p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
