.overall-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../../assets/images/cats-homepage-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.question-container {
  font-family: "Patua One";
  height: 80%;
  padding: 20px 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-text {
  font-family: "Patua One";
}

.question-text {
  background-color: #d3ccfadd;
  padding: 40px;
  font-size: 40px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cat-image {
  width: 40px;
  height: 40px;
}

.image-container {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: #d3ccfadd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
